@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

a {
    text-decoration: none;
}

/* COLORS */

:root {
    --dark: #333;
    --dark-gray: #4F4F4F;
    --white: #fff;
}

/*FULL SCREEN*/

body {
    padding: 3% 5%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    align-self: flex-start;
}

header > h3 {
    font-family: "Inconsolata", sans-serif;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
}

header > h3, main > h1, footer > p {
    color: var(--dark);
}

.container {
    display: flex;
    align-items: center;
    min-width: 100vw;
    justify-content: space-around;
}

.illustration > img {
    width: 540px;
}

main {
    font-family: "Space Mono", sans-serif;
    margin-left: 4vw;
}

main > h1 {
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
}

main > h4 {
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    max-width: 381px;
    padding: 2.57rem 0 4.57rem 0;
    color: var(--dark-gray);
}

main > button {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -0.035em;
    width: max-content;
    padding: 1.6em 3em;
    color: var(--white);
    background-color: var(--dark);
    transition: background-color .1s;
}

main > button:hover {
    background: var(--dark-gray);
}

footer {
    font-family: "Montserrat", sans-serif;
}

#anchor {
    color: var(--dark);
    font-weight: bold;
}

footer > p > a:hover {
    text-decoration: underline;
}

/* SMALL SCREEN */
@media screen and (max-width: 1200px) {
    .container {
        transform: scale(0.8);
    }
}


/* MOBILE */
@media screen and (max-width: 950px) {
    .illustration > img {
        width: 287px;
    }

    .container {
        transform: scale(1.0);
        flex-direction: column;
        margin-bottom: 3vh;
    }

    main > h1 {
        font-size: 44px;
        line-height: 71px;
    }

    main > h4 {
        font-size: 18px;
        padding-bottom: 2vh;
    }

    main > button {
        padding: 2.5vh;
    }

}


